Options +FollowSymLinks -MultiViews 
RewriteEngine on


RewriteRule ^autorizacion$ app/AuthController.php
RewriteRule ^login$ index.php
RewriteRule ^prods$ app/ProductsController.php
RewriteRule ^products/details/(.+)/$ products/details.php?slug=$1 [L]
