<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="contenedor">
        <h1>{{name}}{{lastname}}</h1>
        <input type="text" v-model="name">
        
        
        <button @click="hola">hola</button>

        <hr>
        <input type="text" v-model="n1"> 
        <input type="text" v-model="n2"> 
        <button @click="suma">suma</button>

        <h1>{{sum}}</h1>

        <hr>
        <input type="text" v-model="edad"> 
        <hr>
        
        
        <input type="text" v-model="chamacos_name">
        <input type="text" v-model="chamacos_role">
        <button @click="save">Guardar</button>
        <ol>
            <li v-for="item in chamacos">{{item.name}} : <span> {{item.role}}</span></li>
        </ol>
        
        
    </div>
    
    <script type="text/javascript">
        const { createApp } = Vue

        var test = createApp({
        data() {
            return {
            name: 'Daniel',lastname:'Sanchez',n1:
            "0",n2:"0",sum:"0",edad:"0",chamacos:[{name:'ni1',role:'front'},{name:'ni2',role:'bavck'},{name:'ni3',role:'full'}],chamacos_name:"Nombre",chamacos_role:"Rol"
            }
        },
        methods: {
            hola(){
                alert("hola")
            },
            suma(){
                this.sum = (parseInt(this.n1)+parseInt(this.n2))
            },
            save(){
                this.chamacos.push({name:this.chamacos_name,role:this.chamacos_role})
            }

        }
        }).mount('#contenedor')

    </script>
</body>
</html>