<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registros</title>
	 <link href="estilo.css" rel="stylesheet" type="text/css">
	<script src="https://unpkg.com/vue@3"></script>
</head>
<body>
	<div id="contenedor">
		<h3>Hola, {{nombre}}</h3>

		<table >
			<tr>
				<th>ID</th>
				<td v-for="item in users">{{item.id}}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td v-for="item in users">{{item.name}}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td v-for="item in users">{{item.username}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td v-for="item in users">{{item.email}}</td>
			</tr>
		</table>
		<hr>

		<div class="form">

			<h3>Registrar usuario</h3>
            <label>Nombre</label>
           
            <input type="text" v-model="name">
            <label>Username</label>
           
            <input type="text" v-model="username">
 			
            <label>Correo electronico</label>
           
            <input type="email" v-model="email">
 		
            <label>Password</label>
            <input type="password" v-model="password">
           
            
            <hr>
           	<label>Calle</label>
            <input type="text" v-model="street">

            <label>Suite</label>
            <input type="text" v-model="suite">

            <label>Ciudad</label>
            <input type="text" v-model="city">

            <label>Latitud</label>
            <input type="text" v-model="lat">

            <label>Longitud</label>
            <input type="text" v-model="lng">

            <hr>
            <label>Telefono</label>
            <input type="text" v-model="phone">

            <label>Website</label>
            <input type="text" v-model="website">

            <label>Nombre de compañia</label>
            <input type="text" v-model="company_name">

            <label>Catch Phrase</label>
            <input type="text" v-model="catchPhrase">

            <label>Estrategia de negocio</label>
            <input type="text" v-model="bs">
            <button @click ="registrar">Registrar usuario</button>
        </div>

	</div>
	
	<script type="text/javascript">
		const { createApp } = Vue
        const data=null
        const error=null

        var test = createApp({
        data() {
            return {
                users:null,
                nombre:sessionStorage.getItem("nombre"),name:"",username:"",email:"",password:"",street:"",suite:"",city:"",lat:"",lng:"",phone:"",website:"",company_name:"",catchPhrase:"",bs:""
                
            }
        },methods:{
            registrar(e){
                 e.preventDefault();
                 var nameU = this.name;
                 var usernameU = this.username;
                 var email_usuario = this.email;
                 var contra = this.password;
                 var streetU = this.street;
                 var suiteU = this.suite;
                 var cityU = this.city;
                 var latU = this.lat;
                 var lngU = this.lng;
                 var phoneU = this.phone;
                 var websiteU = this.website;
                 var nombreCompania = this.company_name;
                 var frase = this.catchPhrase;
                 var estrategia = this.bs;
                 var idU = this.users.length+1;


                 this.users.push({id:idU,name:nameU,username:usernameU,email:email_usuario,password:contra,address:{street:streetU,suite:suiteU,city:cityU,lat:latU,lng:lngU},company:{phone:phoneU,website:websiteU,name:nombreCompania,catchPhrase:frase,bs:estrategia}});
                
            }
        }
        	,mounted(){
            fetch('users.json')
            .then((res) => res.json())
            .then((json) => (this.users=json))
            .catch((err) => (console.log(err)))
        	}
    	}).mount('#contenedor')

	</script>
</body>
</html>